This is node {{ ansible_hostname }}.
The free memory is {{ ansible_memfree_mb }}.
This is a {{ ansible_distribution }} and {{ ansible_distribution_major_version }}


The custom fact value is {{ ansible_local.nived.simple.my_custom_fact }}
